In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({"values": np.random.randn(100)})
display(df)
min = df["values"].min()
max = df["values"].max()
df["values"] = [(x-min)/(max-min) for x in df["values"]]

      values
0  -1.163858
1  -0.164704
2  -1.179671
3  -0.225671
4   1.337123
..       ...
95 -1.640315
96 -0.625307
97  1.540704
98  0.934795
99 -0.183429

[100 rows x 1 columns]

In [4]:
display(df)

      values
0   0.340435
1   0.527949
2   0.337467
3   0.516507
4   0.809801
..       ...
95  0.251017
96  0.441506
97  0.848008
98  0.734295
99  0.524435

[100 rows x 1 columns]